* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #444444;
  color: #FFF;
}

/*---NAV---*/

nav {
  background: #1d1d1d;
  font-family: "Sacramento", cursive;
  text-align: center;
}

.nav--title {
  margin: 0;
  font-size: 2rem;
}

