* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #F5F5F5;
  background-image: url("/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

section {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.max-width {
  max-width: 700px;
}

/*---NAV---*/

nav {
  background: #0b0b2f;
  font-family: "Sacramento", cursive;
  text-align: center;
  box-shadow: 0px 1px 10px #3638ee;
}

.nav--title {
  margin-bottom: 15px;
  font-size: 2rem;
  padding: 10px;
}

/*---Flex---*/

.bio-skills,
.bio,
.skills,
.skills--list,
.demos,
.footer,
.footer--contacts {
  display: flex;
}

.bio-skills,
.bio,
.skills,
.footer {
  flex-direction: column;
  align-items: center;
}


/*---Bio---*/

.bio {
  background-color: #3200A8;
  border-radius: 9px;
  max-width: 700px;
  padding: 20px;
  width: 90%;
}

.bio--img {
  width: 175px;
  border-radius: 9px;
}

.title {
  font-size: 1.4rem;
  text-align: center;
}

.bio--content {
  line-height: 1.5rem;
  max-width: 700px;
  width: 100%;
}

.bio--contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

/*---Skills---*/

.skills--list {  
  background-color: #3200A8;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 700px;
  padding: 20px 0;
  border-radius: 9px;
  width: 90%;
}

.skills--img {
  width: 100px;
}

/*---Demos---*/

.demos {
  flex-direction: column;
  max-width: 700px;
  width: 90%;
}

.demos a {
  color: #F5F5F5;
  text-decoration: none;
}

.demos a:visited {
  color: #F5F5F5;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #3200A8;
  padding: 20px;
  border-radius: 6px;
  margin: 15px 0;
}

.project-card:hover {
  border: 1px solid #F5F5F5;
  transform: scale(1.1);
  transition: all 0.5s;
}

.screenshot {
  object-position: center;
  object-fit: cover;
  max-height: 200px;
  border-radius: 6px;
}


/*---Footer---*/

.footer {
  background: #0b0b2f;
  box-shadow: 0px -1px 10px #3638ee;
}

.footer--contacts {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.footer--img {
  margin-top: 20px;
  width: 60px;
}

@media (min-width: 700px) {
  .bio {
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    gap: 50px;
  }

  .skills--list {
    width: 90%;
    max-width: 1000px;
    border-radius: 9px;
  }

  .project-cards-container {
    gap: 15px;
  }

  .demos {
    max-width: 1000px;
    padding: 0;
  }

  .project-card {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .project-details {
    width: 50%;
  }

  .project-card--title {
    margin-top: 0;
  }

  .screenshot {
    object-position: center;
    object-fit: contain;
    border-radius: 6px;
  }
}