* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: #444444;
  color: #FFF;
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

/*---NAV---*/

nav {
  background: #1d1d1d;
  font-family: "Sacramento", cursive;
  text-align: center;
}

.nav--title {
  margin-bottom: 15px;
  font-size: 2rem;
  padding: 8px;
}

/*---Flex---*/

.bio-skills,
.bio,
.skills,
.skills--list,
.demos,
.footer,
.footer--contacts {
  display: flex;
}

.bio-skills,
.bio,
.skills,
.demos,
.footer {
  flex-direction: column;
  align-items: center;
}

.bio-skills,
.bio,
.skills,
.demos {
  padding: 20px;
}

/*---Bio---*/

.bio {
  text-align: center;
}

.bio--img {
  width: 175px;
}

.title {
  font-size: 1.4rem;
}

.bio--content {
  line-height: 1.5rem;
}

/*---Skills---*/

.skills--list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.skills--img {
  width: 100px;
}

/*---Demos---*/

.demos {
  margin-bottom: 25px;
}

.demos--img {
  width: 70%;
}

/*---Footer---*/

.footer {
  background: #1d1d1d;
}

.footer--contacts {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer--img {
  margin-top: 20px;
  width: 60px;
}